ul{
	display:block;	
	margin:0;
	padding:0;
}
ul li{
	list-style:none;
}
#juicebar-main{
	background-color: #FFF !important;
}
header{
	background-color:#FFF;
}
nav{
	display:block;
	overflow: visible;
	margin: auto;
}
nav ul{
	margin:0;
	padding:0;
	text-align:center;
	display: block;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 15px;
}
nav ul li a{	
	text-decoration:none;
}
.cart>a, .a-btn span{
		*width:32px;
		*height:32px;
		box-shadow:none;
		overflow:visible;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
	font-size:28px;
	line-height:20px;
}
.a-btn .badge, .a-btn .label{
	padding: 2px !important;
	line-height: 12px !important;
}
@media (max-width: 767px){
	.page-content{
		padding:0 25px;
	}
	.logo{
		display:none;
	}
	.header-title{
		display:block;
	}
	.header-title h1{
		padding:15px 0 !important;
	}
	header.header{
		margin-top:0;
		padding-top:0;
		position: fixed;
	}
	.menu-list{
		background-color:#fff;
		display:none;
		*visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
	.header-content:hover ~.menu-list{
		*visibility:visible;
		display:block;
		opacity:1;
		transition-delay:0s;
	}
	.menu-list:hover{
		display:block;
		*visibility:visible;
		opacity:1;
	}
	body, header{
		width:100% !important;
		margin:0;
		padding:0;
	}
	.container{
		width: inherit;
	}
	.cart{
		margin-top: -72px !important;
	}	
	.page-title h2{
		margin-top:65px;
	}
	.a-btn{
		width: inherit;
		height: inherit;
	}
	.a-btn span:nth-child(1), 
	.a-btn span:nth-child(3){
		top:5px;
		left:-60px;
	}
}
@media (min-width: 768px){	
	body, header{
		width:90% !important;
		margin:auto;
	}
	.container{
		width: inherit;
	}
	.header-title{
		display:none;
	}
	header.header{
		margin-top:0;
		padding-top:0;
		position: fixed;
	}
	.logo{
		display:flex;
		text-align:center;
	}
	.logo  a{
		margin:auto;
	}
	.logo img{
		height:125px;
		width:125px;
		display:inline-block;
		padding: 15px 0;
	}
	.menu-list{
		background-color:#fff;
		display:none;
		*visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
	.border-content{
		border-color:#f2f2f2;
		border-style: solid;
		border-width: 0 0 1px;	
	}
	.header-content:hover ~.menu-list{
		*visibility:visible;
		display:block;
		opacity:1;
		transition-delay:0s;
	}
	.menu-list:hover{
		display:block;
		*visibility:visible;
		opacity:1;
	}
	.banner img{
		width:100%;
		height:550px;
		padding-top:120px;
	}
	.section{
		width:100% !important;
	}
	.content{		
		background:none;
		border:none;
		width:inherit;
	}
	.content-margin-60{margin: 60px 0 0 0;}
	.content-margin-200{margin: 200px 0 0 0;}
	.content-wrapper{
		text-align: center;
		width:90%;
		margin: auto;
	}
	.page-title{
		margin-bottom: 50px;
	}
	.page-title h2{		
		font-size: 32px;
		text-transform: uppercase;
	}	
	.page-content p{
		line-height:1.7em;
		font-size: 14px;
		margin: 20px 0;
	}
	.border-right{
		border-color:#f2f2f2;
		border-style: solid;
		border-width: 0 1px 0 0;
	}
	.cleanse{
		margin:0 !important;
		width: 33.2% !important;
	}
	.cart{
		margin-top: -120px !important;
	}
	.header-content.shrink .cart{
		margin-top: -85px !important;
	}
	.cart>a, .a-btn span{
		width:40px;
		height:40px;
	}
	.a-btn span:nth-child(1), 
	.a-btn span:nth-child(3){
		font-size:38px;
		line-height:40px;
	}
}

.page-title{
	margin-bottom: 50px;
	text-align:center;
}
.page-title hr{
	content:'';font-size:32px;width:3em;height:2px;background-color:#474747;margin:.5em auto 0;
}
.header-content.shrink {	
    height: 85px;
}
.header-title{
	text-align:center;
	text-transform: capitalize;
	margin:0;
	padding:0;	
}
.header-title h1{
	padding:25px 0;
}
#footer{
	border-color:#f2f2f2;
	border-style: solid;
	border-width: 1px 0 1px 0;
	padding:15px 0;
	margin-bottom:30px;
}
#footer h2{
	text-align:center;
	text-transform:uppercase;
	line-height:1.5em;
	font-size:16px;
}
.content-description{
	padding: 25px 20px 0;
    font-family: Georgia,serif;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 400;
	font-style:italic;
}
.social-media-sharing{
	text-align:center;
	margin:auto;
	padding:0;
}
.social-media-sharing ul{
	display:block;
}
.social-media-sharing ul li{
	list-style: none;
	display:inline-block;
}
address{
	display:block;
}
.location-details{
	text-align:left;
}
.location-details ul{
	display:block;
	margin:0;
	padding:0;
}
.location-details ul li{
	list-style:none;
}
address, .location-time{
	font-family: 'Open Sans',sans-serif;
	color: #454545;
	font-style: normal;
}
.address-title{	
    font-size: 21px !important;
    line-height: 1.2em !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;    
}
.address-detail{
    font-size: 14px !important;
    line-height: 1.6em !important;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;	
}
.tel, .location-time-day{
	font-weight:bold;
}
.holiday-closure{
	text-align:left;
	font-family: 'Open Sans',sans-serif;
	color: #454545;
	font-style: normal;
	margin-bottom:20px;
}
.holiday-closure h4{
	text-transform:uppercase;
}
.holiday-closure ul li{
	line-height: 1.6em;
}
.form-contactus{
	text-align:left;
}
.form-contactus legend{
	text-align:center;
}
.padding20{
	padding: 20px;
}
.border-top-right-left{
	border-color:#f2f2f2;
	border-style: solid;
	border-width: 1px 1px 0 1px;
}
.cleanse-title{	
	text-transform:uppercase;
	font-family: 'Open Sans',sans-serif;
	color: #454545;
	border-bottom: 1px solid #f2f2f2;
	text-align:center;
}
.nav-pills{
	margin:0;
}
.cleanse-tab .nav-pills{
	border-color:#f2f2f2;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0;
	padding: 5px;
	text-align:center;
}
.cleanse-tab .tab-content{	
	line-height: 1;
	text-align:left;
	padding: 1em;
}
.cleanse-total{
	text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
	color: #ccc;
	float: left;
    vertical-align: middle;
}
.cleanse-amount{
	float:right;
	color: #454545;
	font-weight:bold;
	font-size:26px;
}
.add-to-cart button{
	width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    font-size: large;
}
.short-description p{
	font-size: 13px;
    line-height: 20px;
	text-align: left;
}
.description{
	font-size: 13px;
	text-align: left;
}
ul.details-list{
	padding: 0;
    margin: 0 0 10px 25px;
}
ul.details-list li{
	list-style:disc;
	text-align:left;
}
.header-control{
	font-weight: bold;
    color: #5D8B00;
    display: block;
    height: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
	text-align:left;
	cursor:pointer;
}
.juice-description{
	border-bottom: 1px solid #f2f2f2;
    margin-bottom: .9375rem;
	overflow: hidden;
}
.juice-description-img{
	padding-left: .9375rem;
    padding-right: .9375rem;
    width: 20%;
}
.juice-description-details{	
	text-align:left;
}
.juice-description-details h4, .juice-description-details p{
	font-size: 13px;
	margin: 1em 0;
	line-height: 1.5em;
}
.cart{
	margin:0;
	padding:0;
}
.a-btn .badge, .a-btn .label{
	top:2px;
	right:2px;
}
.menu-category-title{
	text-align:left;
	padding-bottom: 15px;
}
.menu-category-title h4{
	font-size:28px;
	font-weight: normal;
	text-transform:uppercase
}
.menu-category li{
	margin-bottom:20px;
}
.item-description-details{
	float:left;
	width:90%;
}
.item-description-details h4{
	text-align: left;
    float: left;
	margin:10px;
}
.item-description-details p.price{
	text-align:right;
	margin:10px;
}
.item-description-details p{
	text-align:left;
}
#control-mode{
	display:none;
}
.clear{
	clear:both;
}